
{% extends "layout.html" %}

{% block title %}
    Find your book
{% endblock %}

{% block heading %}    
    
    {{mainHeading}}

{% endblock %}

{% block body %}    
    <ul>
        {% for books in resultedBooks %}
            <li> 
                <a href="{{ url_for('bookDetail', book_isbn = books.isbn) }}">
                    title: {{ books.title }}, 
                    author: {{ books.author }}, 
                    year: {{ books.year }}
                </a>
            </li>
        {% endfor %}
    </ul>


{% endblock %}