
{% extends "layout.html" %}

{% block title %}
    Find your book
{% endblock %}

{% block heading %}    
    
    {{mainHeading}}

{% endblock %}

{% block body %}    
   
    <form class="text-center" action="{{ url_for('bookDetails')}}" method="POST">
        <input type="text" name="bookTitle" placeholder="Enter the books title">
        <input type="text" name="bookAuthor" placeholder="Enter your books author">        
        <input type="number" name="bookISBN" placeholder="Enter your books ISBN">
        <button href="{{ url_for('bookDetails') }}">Search</button>
    </form>


{% endblock %}