
{% extends "layout.html" %}

{% block title %}
    Welcome Page
{% endblock %}

{% block heading %}    
    
    {{mainHeading}}

{% endblock %}

{% block body %}    
    <p class="pt-2 text-center">Please login</p>
    
    <form class="text-center" action="{{ url_for('index')}}" method="POST">
        <input type="text" name="username" placeholder="Enter your Name">
        <input type="password" name="password" placeholder="Enter your password">
        <button>Submit</button>
    </form>
    
    <p class="pt-2 text-center">No Account? <a href="{{ url_for('registration') }}">Register here</a> 
    </p>

{% endblock %}