<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="../static/styles/background.css">

    </head>
    <body>
        <header style="background-color: #000000">
            <h1 class="text-center" style="background-color:#000000; font-size: 46px; color: #b4e6ff;">Bookuru</h1>    
            <nav class="navbar navbar-expand-md fixed-left navbar-dark" style="background-color:#000000">
                <div class="navbar">
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link" href="{{url_for('index')}}">Home</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <p class="text-right mr-auto mt-2" style="padding-right: 2%;">{{loggedInUserTxt}}</p>


        <h1 class="pt-4 text-center">
            {% block heading %}
            {% endblock %}
        </h1>

        {% block body %}
        {% endblock %}
    </body>
</html>